.selectedPage {
    font-weight: bold;

}
.pageNums {
    cursor: pointer;
}


.paginator {
    margin: 10px;
    display: inline-block;
}
.pageNumber {
    background: darkgrey;
    border: 1px solid grey;
    color: white;
    padding: 6px 12px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}

.pageNumber.selectedPage {
    background-color: #304875;
    border-color: black;
}