.header {
    grid-area: h;
    background-color: #304875;
}
.header img {
    width: 60px;
}
.loginBlock {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    text-decoration-line: none;
    color: white;
    font-size: 20px;

}
.loginBlock img {
    margin-right: 20px;
    max-height: 40px;
    max-width: 50px;
}
/*.loginBlock a {*/
/*    text-decoration-line: none;*/
/*    color: white;*/
/*}*/