.item {
    padding-bottom: 20px;

}
.item img {
    width: 50px;
    border-radius: 50px;
}
.textMessage {
    border: 1px solid;
    padding: 5px;
    border-radius: 10px;
    height: 70px;
    width: 600px;
    background-color: #D3D3D3;
}

.like {
    height: 50px;
    padding-top: 5px;
    color: lightpink;
}

.like  img {
    width: 30px;
}
