.formControls.error input,
.formControls.error textarea   {
    border: solid red 2px;

}
.formControls.error span   {
    color: red;

}
.formSummaryError {
    border: solid red 2px;
    padding: 5px;
    color: red;
    max-width: 160px;

}

.formInputs input {
    border-radius: 10px;
    padding: 5px;
}
.submitButton {
    border-radius: 8px;
    background-color: #F2F2F2;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width: 80px;
    height: 30px;
    margin: 25px 0 20px 0;
}
.submitButton:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
.loginForm {
    padding: 10px 0 0 10px;
}