.nav {
    grid-area: n;
    background-color: #304875;
    padding: 20px;
    border-radius: 10px;

}
.item a {
    color: white;
    text-decoration: none;
}
.item a.activeLink {
    color: gold;
}
